.sf-menu.sf-style-none {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-none.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-none ul {
  padding-left: 0;
}
.sf-menu.sf-style-none a,
.sf-menu.sf-style-none span.nolink {

  color: #1f1f1f;
  padding: 0.75em 1em;
}

.sf-menu.sf-style-none a.active{
  color:#fff !important;
  background:#635964 !important;
}

.sf-menu.sf-style-none a:hover{
  color:#fff !important;
  background:#635964 !important;
}

li#menu-613-8{

}


.sf-menu.sf-style-none a.sf-with-ul,
.sf-menu.sf-style-none span.nolink.sf-with-ul {
  padding-right: 2.25em;
  text-decoration: none !important;
}
.sf-menu.sf-style-none.rtl a.sf-with-ul,
.sf-menu.sf-style-none.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-none.sf-navbar a,
.sf-menu.sf-style-none.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-none span.sf-description {
  color: #ffffff;
  display: block;
  /*font-size: 0.833em;*/
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-none.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-none li,
.sf-menu.sf-style-none.sf-navbar {
  /*background: #095cb1;*/
}

.sf-menu.sf-style-none li.active-trail > a{
	color:#fff !important;
	 background: #635964 !important ;
}


.sf-menu.sf-style-none li li {
  color: #fff;
  background:#1f1f1f !important;
  opacity: 0.95;
}


.sf-menu.sf-style-none li li li {
  color: #fff;
  background:#1f1f1f !important;
  opacity: 0.95;
}

 ul#superfish-8 ul li.last{
	 border-bottom: none;
 }
 
 ul#superfish-8 ul li ul li.firstandlast{
	 border-bottom: none;
 }
 
 ul#superfish-8 ul li ul li.last{
	 border-bottom: none;
 }

.sf-menu.sf-style-none li li:hover {
  background: #635964 !important ;
  color: #fff;
}

.sf-menu.sf-style-none li > a {
	text-decoration:none !important;
}
.sf-menu.sf-style-none li li:hover {
	background:#635964;
}


ul#superfish-7 > li > a , ul#superfish-7 > li > li > a{
	text-decoration: none !important;
}

.sf-menu.sf-style-none li li {
	border-bottom:1px solid white;
}

.sf-menu.sf-style-none li li.last {
	border-bottom:1px solid white;
}


.sf-menu.sf-style-none li li > a {
  color: #fff;
  text-decoration: none !important;
  
}

.sf-menu.sf-style-none li li li {
  background: #1f1f1f !important;
}
.sf-menu.sf-style-none ul > li > ul >  li a {
  color: #fff;

}

.sf-menu.sf-style-none li:hover{
	background: #635964 ;
	color: #fff !important;
}

.sf-menu.sf-style-none.sf-navbar li ul {
  background-color: #635964 ;
}
.sf-menu.sf-style-none.sf-navbar li ul li ul {
  background-color: transparent;
}



/*
div.sf-accordion-toggle.sf-style-none a {
  /*background: #095cb1;
  border: 1px outset #003973;*/
  color: #1f1f1f;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-none a.sf-expanded,
.sf-menu.sf-style-none.sf-accordion li.sf-expanded {
  background-color: #635964 ; color:#fff;
}
div.sf-accordion-toggle.sf-style-none a.sf-expanded,
.sf-menu.sf-style-none.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold; color:#fff;
 
}
.sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-none.sf-accordion li li a,
.sf-menu.sf-style-none.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-none.sf-accordion li li li a,
.sf-menu.sf-style-none.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-none.sf-accordion li li li li a,
.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-none.sf-accordion li li li li a,
.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-none.rtl.sf-accordion li li a,
.sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-none.rtl.sf-accordion li li li a,
.sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-none.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-none.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

*/


