.sf-menu.sf-style-morone {
  float: left;
 /* margin-bottom: 1em; */
  font-weight:500;

  
}
.sf-menu.sf-style-morone.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-morone ul {
  padding-left: 0;
}
.sf-menu.sf-style-morone a,
.sf-menu.sf-style-morone span.nolink {
 /* border: 1px outset #003973;*/
  color: #ffffff;
  /*padding: 0.75em 1em;*/
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom:0.75em;
  padding-left:1em;
  text-decoration: none !important;

}
.sf-menu.sf-style-morone a.sf-with-ul,
.sf-menu.sf-style-morone span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-morone.rtl a.sf-with-ul,
.sf-menu.sf-style-morone.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-morone.sf-navbar a,
.sf-menu.sf-style-morone.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-morone span.sf-description {
  color: #ffffff;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-morone.rtl span.sf-description {
  margin: 5px 5px 0 0;
}

/* top nav bar */
.sf-menu.sf-style-morone li,
.sf-menu.sf-style-morone.sf-navbar {
  background: #791251;
}


.sf-menu.sf-style-morone li:hover{
	background: #1F1F1F;

}

.sf-menu.sf-style-morone ul > li  {
  background: #1F1F1F;
  opacity:0.9;
  border-bottom:1px #fff solid;

}

.sf-style-morone li ul li ul li {
	background: #1F1F1F;
}

.sf-style-morone li ul li ul li:hover {
	background: #1F1F1F;
}

.sf-menu.sf-style-morone ul > li.last{
	border-bottom: none;
} 

.sf-menu.sf-style-morone ul > ul > li  {
  background: #1F1F1F;
  opacity:1.0;
  border-bottom:1px #fff solid;
  color:#fff;

}

.sf-menu.sf-style-morone ul > ul > li > a:hover  {
  background: #1F1F1F;
  opacity:1.0;
  border-bottom:1px #fff solid;
  color:#fff !important;

}


.sf-menu.sf-style-morone ul > li > a:hover  {
  text-decoration:none;
  background: #635964 ;
}

.sf-depth-3{
	
}



ul#superfish-2 > ul > li > ul > li > span.sf-sub-indicator{
	/* background-position: -15px 0;& */
}

/*  drop down */
.sf-menu.sf-style-morone ul > li > ul > li {
  background: #1f1f1f;
  border-bottom:1px #fff solid;

}

.sf-menu.sf-style-morone ul > li > ul > li.last {
  background: #1f1f1f;
  border-bottom:none;

}

.sf-menu.sf-style-morone ul > li > ul > li.firstandlast{
	 border-bottom:none;
} 

.sf-menu.sf-style-morone ul > li > ul > li > li.firstandlast{
	border-bottom:none;
} 

.sf-menu.sf-style-morone ul > li > ul > li > li.last {
  background: #1f1f1f;
  border-bottom:none;

}

/**  drop down **/

.sf-menu.sf-style-morone ul > li > ul > li > a:hover {
	background: #635964 ;
    color:#fff !important;
	text-decoration:underline;
}

.sf-menu.sf-style-morone ul > li > ul > li > a {
	background: #1f1f1f;
}



.sf-menu.sf-style-morone li:hover,
.sf-menu.sf-style-morone li.sfHover,
.sf-menu.sf-style-morone a:focus,
.sf-menu.sf-style-morone a:hover,
.sf-menu.sf-style-morone a:active,
.sf-menu.sf-style-morone span.nolink:hover,
.sf-menu.sf-style-morone.sf-navbar li {
  /* background: #1F1F1F;
  color: #fffff; */
}

.sf-menu.sf-style-morone li >  li:hover{
	color:#1f1f1f;
	background: #635964 ;
}

ul#superfish-10.sf-style-morone li > ul > li > ul > li {
	 background-color: #1F1F1F !important;
}

.sf-menu.sf-style-morone.sf-navbar li ul {
  background-color: #1F1F1F;

}

.sf-menu.sf-style-morone.sf-navbar li ul li ul {
  /*background-color: transparent;*/
}

/** toggles not in use **/
div.sf-accordion-toggle.sf-style-morone a {
  background: #791251;
  border: 1px outset #003973;
  color: #ffffff;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-morone a.sf-expanded,
.sf-menu.sf-style-morone.sf-accordion li.sf-expanded {
  background-color: #1F1F1F;
}
div.sf-accordion-toggle.sf-style-morone a.sf-expanded,
.sf-menu.sf-style-morone.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-morone.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-morone.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-morone.sf-accordion li li a,
.sf-menu.sf-style-morone.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-morone.sf-accordion li li li a,
.sf-menu.sf-style-morone.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-morone.sf-accordion li li li li a,
.sf-menu.sf-style-morone.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-morone.sf-accordion li li li li a,
.sf-menu.sf-style-morone.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-morone.rtl.sf-accordion li li a,
.sf-menu.sf-style-morone.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-morone.rtl.sf-accordion li li li a,
.sf-menu.sf-style-morone.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-morone.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-morone.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-morone.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-morone.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-morone ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-morone ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-morone ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-morone ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-morone ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-morone.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
