/*
* Based on Skeleton V2.0.4.1 Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
* Modified July 2018
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- News article styles
- Backgrounds
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Breadcrumbs
- Spacing
- Utilities
- Alerts
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  
  .featured-container{
	 
  }
  
 .footer-container{
	
 } 
  
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-quarter.column,
  .offset-by-quarter.columns	  { margin-left: 2.35%; } 
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }
}
  /* additional margin utilities */
  

  
  /* top margins */
  .md_top_margins 				  { margin-top: 1.5em; }
  .offset-tp-by-half			  { margin-top: 0.5em; }
  .md-negative-top			      { margin-top: -0.1em; }

  /* bottom margins */
  .md_bottom_margins			  { margin-bottom: 2.0em; }
  .md_bottom_margins_sm 		  { margin-bottom: 1.0em; } 
  .offset-left-by-half			  { margin-left: 0.5em; }   
  .offset-bt-by-one  			  { margin-bottom: 2%; }
  
  /* Left margins */
  .md_left_margins				  { margin-left: 2.0em; } 
  .sm_left_margins				  { margin-left: 1.0em; }   
  
  /* text alignment */
  .md-center-align				  {  text-align: center; }



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
 
  }
body {
  font-size: 1.5em !important; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #222; 


  }

.oir_wrapper{
	min-height:90vh;
}  

.bg-image{
  background-image: url("../images/5938_OIRBackgrundgraphic-01.jpg");
  background-repeat:no-repeat;
  background-position: left bottom;
  background-color:#efefef;
}
.bg-image-top{
  background-image: url("../images/prototype-block-corner-graphic-tr.svg");
  background-repeat:no-repeat;
  background-position: right top
}
.oir-featured-row{
    background: #EFEFEF;
    margin-top: 3em; }

.feature-cells{
	margin-left:10px !important;
	min-width:24% !important; }
	
.front_promoted_height{
	min-height:360px !important;
}	

	
/* News
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.node-news-article{
    border-bottom: 1px solid #ccc;
    padding-bottom: 2em;	
	margin-bottom:2em;
	
}

.node-readmore{
	margin-left:-0.8em;
}	
	
.oir_news_page_date{
	font-size:0.9em;
}
	
.date-display-single{
 display:none;	
}	
	
	
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;   color:white;}
h2 { font-size: 3.6rem; line-height: 1.25;  color: #740C50 !important; margin-top:1.2em;}
h3 { font-size: 3.0rem; line-height: 1.3;   color: #000 !important; }
h4 { font-size: 2.4rem; line-height: 1.35;  }
h5 { font-size: 1.8rem; line-height: 1.2;   }
h6 { font-size: 1.5rem; line-height: 1.6;  }

h5.offset-left-by-half.offset-tp-by-half > a {
	text-decoration:none !important;
}
h5.h5-height:{
	line-height: 1.2 !important;
}

.whitefont { color:#fff; }
.blackfont{ color:#000; }
.moronefont{ color: #740C50; }

.oir_title { color:#fff;font-size:1.2em;padding:0px; line-height:0.9; }

.oir_title_h2 {
	font-size: 1.2em;
    padding: 0px;
    line-height: 0.9;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    margin-left: 2.8em;
    white-space: nowrap;
}

a.site_title{
	color:#000; }	
	
a.site_title:hover {
	text-decoration:none;
}
	
h2.featured > a { line-height: 1.25; letter-spacing: -.1rem; color: #000; padding:5px;  }

h5.offset-left-by-half.offset-tp-by-half a:hover {
	  color:#1f1f1f;
}
 

.overlay-txt{
	position: absolute;
    top: 248px;
    color: #fff;
    background: #000;
    opacity: 0.75;
    padding: 20px;
    width: 48%;
	font-size:1.4em;
	display:inline-block;
}


#superfish-7-toggle > span {
	display:none;
}

#superfish-3-toggle > span {
	display:none;
}

ul#superfish-9 > li.first {
	border-top:1px solid !important;
}


ul#superfish-9 > ul > li {
	padding:5% !important;
}


div.region.region-sidebar-first ul#superfish-8 li > li:hover {
		background-color: #635964 !important; 
}

div.region.region-sidebar-first ul#superfish-8 a {
	text-decoration: none !important;
}

div.region.region-sidebar-first ul#superfish-8 li.active-trail > a {
	color:white !important;
}



/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/* featured region text */
p {
  margin-top: 0; }
  
p.p-featured{
	padding:5px; }  

#block-views-featured-items-block > p.p-featured{
	padding:5px; }


/* Backgrounds
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
.oir_moron {
	background-color:#740C50 !important;
	margin-left:2.0em;
}  


.oir_grey {
	background-color:#EFEFEF;
}

.oir_sidebar_grey {
	background-color:#D8DEDC;
	padding:1.0em;
}

.oir_drk {
	background-color: #1F1F1F;
}

.oir_white{
	background-color:#fff;
}
  
h2.sm_left_margins.oir_title_h2 a.site_title {
	color:#000;
}   
  
  
  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #6F054F; text-decoration:underline !important; }
a:hover {
  color: #0FA0CE; }
a:visited{
	
}

.oir-home > a {
	text-decoration:none !important;
}

h2 > a {
	text-decoration: none !important; 
}

a.site_title:hover{
	
	text-decoration: underline !important; 
	
}

h3{
margin-top:1.5em !important;	
} 

h3 > a {
	
	text-decoration: none !important; 
}
  


		
		
		
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  /* text-transform: uppercase; */
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #740C50;
  border-color: #740C50; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
  
input[type="submit"].button-primary:hover{
	
  }

  
  .region-content.form-submit#edit-submit {
	 margin-top:2.0em; 
  }

  
  
input[type="submit"]#edit-submit{
	  margin-top:2.0em;
	  background-color: #8f3c72;
  }
  
.oir-button{
    display: inline-block;
    min-height: 38px;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:30px;
	padding-right:30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
} 
  
.oir-button > a{
	text-align:left;
	float:left;
}  
  
.button.oir_moron > a {
	color:#fff; }  
	
.button.oir_moron > a:hover {
	color:#6F054F; } 	

.button.oir_moron:hover{
	background-color:#F3BEC2 !important;
	color:#6F054F !important;
}	

.button.oir-moron:hover{
	color:#6F054F !important; }

.eq_buttons{
		position: absolute;
		bottom: 40px; }  
  
  
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

  
  /* Search
  ----------------------------------------------*/
  


div.region.region-searcharea div#block-search-form.block.block-search div.content form#search-block-form div div.container-inline div#edit-actions.form-actions.form-wrapper input#edit-submit--2.form-submit{
	 float:right;
 } 
input#edit-search-block-form--2.form-text{
	border-radius:0em !important;
	width:220px;
	max-height:35px;
	color: #686a69;
	border: 1px solid;
	border-color:#6F054F;
	margin-left: -8em;	
	
}
div.region.region-searcharea div#block-search-form.block.block-search div.content form#search-block-form div div.container-inline div#edit-actions.form-actions.form-wrapper input#edit-submit.form-submit{
	
}



div.region.region-searcharea div#block-search-form.block.block-search div.content form#search-block-form div div.container-inline div#edit-actions--2.form-actions.form-wrapper input#edit-submit--2.form-submit{
	padding-left:1em;
	padding-right:1em;
	line-height:34px;
	border-radius:0px;
	display: inline-block;
	height: 34px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
	background:#6F054F;
	color:#fff;
	margin-top:-3em;
	margin-right:8em;
}

div.region.region-searcharea div#block-search-form.block.block-search div.content form#search-block-form div div.container-inline div#edit-actions.form-actions.form-wrapper input#edit-submit.form-submit{
	padding-left:1em;
	padding-right:1em;
	line-height:34px;
	border-radius:0px;
	display: inline-block;
	height: 34px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
	background:#6F054F;
	color:#fff;
	float:right;
	margin-right:9.5em;
	margin-top:-3em;
}

 div.region.region-content div#block-system-main.block.block-system div.content form#search-form.search-form  input#edit-submit.form-submit{
	 color:#fff;
 }

  div.region.region-content div#block-system-main.block.block-system div.content form#search-form.search-form  input#edit-submit.form-submit:hover{
	 color:#fff;
	 background: #e3929d;
 }

div.region.region-searcharea div#block-search-form.block.block-search div.content form#search-block-form div div.container-inline div#edit-actions.form-actions.form-wrapper input#edit-submit.form-submit:hover{
	background: #e3929d;
}


div.region.region-sidebar-first div#block-superfish-8 a.nav-link.sf-depth-1{
	color:#1f1f1f;
	border-bottom: 1px solid #1f1f1f;
}

div.region.region-sidebar-first div#block-superfish-8 a.nav-link.sf-depth-1:hover{
	color:#fff;
	background:#635964; 
	
}

/* Menus
----------------------------------------------------*/
/*
 ul#superfish-8 > ul{
	color:#fff;
	background:#635964 !important; 
 }
*/

ul#superfish-8 a.sf-depth-2.menuparent.active{
	font-weight:normal !important;
}

ul#superfish-8 a.sf-depth-2.menuparent.active:hover{
	color:#fff;
	background: #635964;
}

ul#superfish-8 a.sf-depth-3:hover{
	color:#fff;
	/*background: #CD6279;*/
}

div#block-superfish-8.block.block-superfish a.sf-depth-2.menuparent{
	color:#fff;
	text-decoration:none !important;
}

div.region.region-sidebar-first div#block-superfish-8.block.block-superfish ul#superfish-8 li > ul > li.sf-depth-2:hover{
	background: #635964 !important;
}

div#block-superfish-8.block.block-superfish > ul > ol > ol > li.sf-depth-3 > a:hover {
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	
}

ul#superfish-8 > li > ul > li > ol > li > ol li > a.oir-third-level-a.sf-depth-3:hover{
	
}

div#block-superfish-8.block.block-superfish ol > li.sf-depth-2 > a,div#block-superfish-8.block.block-superfish ol > li.sf-depth-2 > a:active{
	text-decoration:none;
	
}

div#block-superfish-8.block.block-superfish ol > li.sf-depth-2 > a

div#block-superfish-8.block.block-superfish ol > li.sf-depth-2 > a:hover{
	
	background: #635964;
	text-decoration:none;
}

div#block-superfish-8 li.sf-depth-2 > a:hover,div#block-superfish-8 li.sf-depth-2 > a:active{
	background: #635964 !important;
}


div#block-superfish-8 li.sf-depth-3 > a:hover,div#block-superfish-8 li.sf-depth-3 > a:active{
	background: #635964 !important;

}

div#block-superfish-8 li.sf-depth-3 > a{
	text-decoration:none;
	padding-left:5% !important;
}



/*Sidebar menus
-------------------------------------------*/

div.region.region-sidebar-first div#block-superfish-8 ul#superfish-8 ol li.active-trail a.sf-depth-3:active{
	/*background: #CD6279;*/
	
}

div.region.region-sidebar-first div#block-superfish-8 ul#superfish-8 ol li.active-trail a.sf-depth-3{
	font-weight:normal !important;
	text-decoration:none;
}
 

 
 
div#edit-actions.form-actions.form-wrapper input#edit-submit--2.form-submit{
	padding-left:1em;
	padding-right:1em;
	line-height:34px;
	border-radius:0px;
	display: inline-block;
	height: 34px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
	background:#6F054F;
	color:#fff;
	margin-top:-3em;
	margin-right:8em;
}
 
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style:  inside; margin-left: 0.2em}
ul ul {
  list-style: circle inside;	}  
  
ul#superfish-3{
	text-align:center;
	display:inline-block;
	margin-bottom: -6px;
	font-size: 1.3rem;
	
}  
 
ul#superfish-3 > li > a {
	text-decoration:none !important;
} 
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
   }
li {
  margin-bottom: 0.5rem;  margin-left: 0.5em;}


li.active, li.active-trail{
	 background-color: #635964 !important; color:#fff; }
li.active > a:active, li.active-trail > a:active{
	 color:#fff !important;

 }





/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Breadcrumbs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.breadcrumb > a {
	padding-left: 10px;
    padding-right: 10px;
	color: #740C50 !important; }


  
  
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1.7rem;
  }
 .home_featured_button{
	 	margin-left: 5px;
 } 
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.sm_padding{
	padding:5px;	
  }

.sm_padding_right{
	padding-right: 5px;
}

.md-padding-top{
	padding-top:20px;
}


.button.oir-home{
	border-radius: 0 !important;
    background-color: #fff;
    background-color: #fff !important;
    display: inline-block;
    min-height: 38px;
    /* padding: 0 30px; */
    color: #555;
    /* text-align: center; */
    font-size: 11px;
    font-weight: 600;
    /* line-height: 38px; */
    letter-spacing: .1rem;
    /* text-transform: uppercase; */
    text-decoration: none;
    white-space: normal;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    text-align: left;
    line-height: 20px;
    padding: 1em;

	
}

.button.oir-home > a{
	color:#740C50;
}

.button.oir-home:hover{
		background-color: #F0BDC3 !important;
}

.region.region-homebanner{
	margin-top: 25px;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.u_eq_height{
	min-height:175px;
}

.u-centered{
	text-align:center;
}  

.oir_alert{
	background-color:#EFEFEF;
	padding:1.0em;
	border: 1px solid #ccc;
	margin-bottom: 1.2em;
}

.lite_alert{
	background-color:#F4BEC2;
	padding:1.0em;
	border: 1px solid #ccc;
	margin-bottom: 1.2em;
}
  
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }
  
#oir_logo{
  margin-top:1.0em;
  width:100%;
  height:auto;
 }
#menu-952-3{
	margin-left:3.5em;
}



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

  
  .tinynav1{
	  max-width:90%;
  }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

@media (max-width:549px){
	.sf-accordion-toggle.sf-style-dark{
		display:none;
	}
	#block-superfish-9{
		display:none;
	}
	#superfish-3-toggle{
		display:none;
	}
	
	
	#oir_logo{
		width:75% !important;
		height:auto;
		margin-bottom:3px;
		margin-left: 3px;
		margin-top:3px;
	}
	.overlay-txt{
		display:none;
	}
	
	.sf-menu.sf-style-moronesidebar{
		display:none !important;
	}

	.bg-image-top { background-image: none;}

	ul#superfish-3 > li{
		
	}	
	
input#edit-submit--2.form-submit{
	position: absolute;
    left: 320px;
}	
	
	input#edit-submit--2.form-submit {
		
	}
	
ul#superfish-7-accordion li > a:hover, ul#superfish-7-accordion li > a:active  {
		color:#fff;
}
	
	
	div#edit-actions.form-actions.form-wrapper input#edit-submit--2.form-submit {
		margin-right:7em;
		margin-top: -3.1em;
	}
	
	.oir-ten-cols{
		padding-left:1.5em;
		padding-right:1.5em;
	}
	
	
	#tinynav1{
		margin-bottom: 1.5em;
		margin-left:1.2em;
	}
	.bg-image {
	background-image: none; }
	.md-center-align{
			text-align:left;
			margin-left;1.5em;
	}
	
	 div#block-superfish-3.block.block-superfish div.content ul#superfish-3-accordion.menu.sf-menu.sf-menu-footer-sub-menu > li {
		 float: none !important;
	 }
	 
	 #menu-952-3 {
      margin-left: 0; }
	  
	div.button.oir-home {
		   width:100%
	} 
	
	form#search-form.search-form div div#edit-basic.container-inline.form-wrapper input#edit-submit.form-submit{
		margin-top:1.2em;
	}
	
input#edit-search-block-form--2.form-text {
    border-radius: 0em !important;
    width: 300px;
    max-height: 35px;
    color: #686a69;
    border: 1px solid;
    border-color: #6F054F;
    margin-left: 0.1em;	
 }
	  
.front_promoted_height {
		min-height: unset !important;
	}
.region.region-sidebar-first{
	display:none !important;
}	
	  	
ul#superfish-3-accordion  > li > a, ul#superfish-3-accordion  > li > a:hover, ul#superfish-3-accordion  > li > a:active  {
	text-decoration: none !important;
}

.oir_header_3 {

}

.sf-menu.sf-style-oir a{
	font-weight: normal!important;
	font-size:0.9em;
}
.oir_header_4 {
	background-color: #CCCCCC;
}
	
	.sf-menu.sf-style-oir {
    /* float: left; */
    margin-bottom: 0px!important;
    padding: 0;
}

.region-searcharea {
	background-color: #1F1F1F;
}
#search-block-form{
	margin-bottom:0px;
	margin-top:-1px;
	padding:15px;
}

div.row.md_top_margins.oir_grey{
	margin-top:unset;
}

select#tinynav1.tinynav.tinynav1{
    border-radius: 0px !important;

    
}


div#edit-actions.form-actions.form-wrapper input#edit-submit--2.form-submit {
    margin-top: -3.1em;
    position: absolute;
    left: 320px;
}


	
}	/* end media query */



/* Larger than phablet (also point when grid becomes active) */


/* mid tablets */

@media (min-width: 1021px) and (max-width: 1024px) {
	.oir-ten-cols{
		padding-left: 5%;
	}.tinynav1{ display:none;}
}

@media (min-width: 768px) and (max-width: 1020px) {
	ul#superfish-10.menu { display:block !important;}
	.tinynav1{ display:none;}
	
	.oir-ten-cols{
		padding-left: 10%;
	}
	
	

	
}/* end media query */


/* Larger than desktop 
@media (min-width: 1000px) {} */

/* Larger than Desktop HD */
@media (min-width: 1021px) {
	.tinynav1{ display:none;}
	ul#superfish-10.menu { display:block !important;}
}